<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-10 col-sm-8 col-md-6 col-lg-4">
      <div class="card text-center card-custom">
        <div class="card-header">
          {{ selectedPackage?.Title }}
        </div>
        <div class="card-body bg-primary text-white">
          <h5 class="card-title">{{ currentFact?.recto }}</h5>
          <span class="badge position-absolute top-0 end-0 mt-2 me-2">
            Question {{ currentFactIndex + 1 }}/{{ learningFacts.length }}
          </span>
          <p class="card-text" *ngIf="showAnswer">{{ currentFact?.verso }}</p>
        </div>
      </div>
      <div class="button-and-dropdown">
        <button class="btn btn-secondary mt-3" (click)="onClick()">
          {{ allFactsAnswered ? 'See results' : (showAnswer ? 'Next question' : 'Show Answer') }}
        </button>
        <!-- Dropdown for rating the response -->
        <select class="form-control mt-3" id="packageField" [(ngModel)]="selectedRating" *ngIf="showAnswer">

          <option [value]="0">Rate your response</option>
          <option [value]="1">Good</option>
          <option [value]="2">Average</option>
          <option [value]="3">Poor</option>
        </select>
      </div>
    </div>
  </div>
</div>
