<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Manage Packages</title>
</head>
<body>
<div class="manage-packages-container">
  <h1><strong>MANAGE PACKAGES</strong></h1>
  <h1>Choose to create or delete/modify a package</h1>
  <div class="button-container">
    <button class="manage-button" (click)="navigateTo('create-package')">CREATE</button>
    <button class="manage-button" (click)="navigateTo('modidel-package')">DELETE/MODIFY</button>
  </div>
</div>
</body>
</html>
