<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Create New Package</title>
</head>
<body>

<form>
<div class="create-container">
  <h2>Create a new package here</h2>
    <div class="input-group">
      <label for="titleField">Name</label>
      <input type="text" class="form-control custom-select-width" id="titleField" name="titleField" [(ngModel)]="enteredTitle" placeholder="Enter name">
    </div>
</div>

  <div class="create-container">
    <div class="input-group">
      <label for="descriptionField">Description</label>
      <textarea class="form-control custom-select-width" id="descriptionField" rows="3" name="descriptionField" [(ngModel)]="enteredDescription" placeholder="Enter description"></textarea>
    </div>
  </div>

  <div class="create-container">
    <div class="input-group">
      <label for="categoryField">Category</label>
      <input type="text" class="form-control custom-select-width" id="categoryField" name="categoryField" [(ngModel)]="enteredCategory" placeholder="Enter category">
    </div>
  </div>

  <div class="create-container">
    <div class="input-group">
      <label for="targetaudienceField">Target Audience</label>
      <select class="form-control custom-select-width" id="targetaudienceField" name="targetaudienceField" [(ngModel)]="selectedTargetAudience">
        <option value="Beginner">Beginner</option>
        <option value="Intermediate">Intermediate</option>
        <option value="Expert">Expert</option>
      </select>
    </div>
  </div>

  <div class="create-container">
    <div class="input-group">
      <label for="levelField">Level</label>
      <select class="form-control custom-select-width" id="levelField" name="levelField" [(ngModel)]="selectedLevel">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
      </select>
    </div>
  </div>
  </form>
<div class="button-containerr">
    <div class="button-container">
      <button type="submit" class="home-button" (click)="createPackage()">Submit</button>
    </div>
</div>


</body>
</html>
