.bottom-nav {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  padding: 10px;
  background-color: #f8f8f8; /* Ou toute autre couleur de fond souhaitée */
}

.button-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}


